<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>891456042452-85ff3orn4g6e46ood3r3q098b53v5nkq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.891456042452-85ff3orn4g6e46ood3r3q098b53v5nkq</string>
	<key>API_KEY</key>
	<string>AIzaSyB1D-NbsFgBUejm7OcvjMaJCeEgUtJmG8o</string>
	<key>GCM_SENDER_ID</key>
	<string>891456042452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pankecho.PlatziTweets</string>
	<key>PROJECT_ID</key>
	<string>platzitweets-ios</string>
	<key>STORAGE_BUCKET</key>
	<string>platzitweets-ios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891456042452:ios:ab6728a198a10d45ccd241</string>
</dict>
</plist>